$default-size: 14px;
$font-family: "ArialMT", "Arial";
$sp-font: "SegoeUI-Light", "Segoe UI Light", "Segoe UI";

$default-color: #333;
$mid-gray: #666;
$secondary-accent: #999;
$gray-2: #a1a1a1;
$gray-3: #c9c9c9;
$gray-4: #ccc;
$accent-color: #0066b3;
$webpart-header-bg: #fbfbfb;

$statusRed: #E23615;
$statusGreen: #28AF8F;
$statusYellow: #FFCA4C;
$statusGrey: #A0A0A0;

$spacing: 20px;
$dropdown-height: 45px;

@mixin backgroundGradient() {
  background: rgba(252, 237, 208, 1);
  background: linear-gradient(45deg, #fdedd0 0%, #f7d3d2 33%, #e9d3db 66%, #cadfef 100%);
}

@mixin control-outline() {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.149019607843137);
  border-radius: 5px;
}

@mixin controlZone() {
  padding: ($spacing/2) $spacing ($spacing/2) $spacing !important;
  margin: 0 !important;
  margin-bottom: $spacing !important;
  background: #fff;
  @include control-outline;
  position: relative;
}

@mixin with-footer() {
  padding-bottom: calc(#{$spacing} + 10px);
}

@mixin textOverflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
