@import '~office-ui-fabric-react/dist/sass/_References.scss';
@import '../../../common/styles/variable.module.scss';

.projectInformation {
  display: flex;
  margin: $spacing * 1.5;

  .leftSection {
    flex: 1 0 40%;
    .projectMetadata {
      display: flex;
      flex-direction: column;
  
      .projectTitle {
        font-size: 36px;
        margin-bottom: $spacing;
      }
  
      .projectDetailContainer {
        display: flex;
        margin: 0 (-$spacing);
  
        .projectDetail {
          margin: 0 $spacing;
  
          .detailLabel {  
            font-size: $ms-font-size-m;
          }
    
          .detailValue {
            font-weight: $ms-font-weight-semibold;
            font-size: $ms-font-size-m-plus;
          }
        }
      }
    }
  }

  .rightSection {
    display: flex;
    position: relative;
    flex: 1 0 40%;

    .projectLeaders {
      display: flex;
      font-size: $ms-font-size-m;
      background-color: #F9F9F9;
      position: absolute;
      bottom: 0;
  
      .projectRoles {
        padding: 10px 20px;
        color: #7D7F7F;
        font-weight: 600;
      }

      .memberNames {
        padding: 10px 20px;
        color: #7D7F7F;
        font-weight: 600;
      }
    }
  
    $statuses: ('green': $statusGreen, 'yellow': $statusYellow, 'red': $statusRed, 'grey': $statusGrey);
  
    .projectStatuses {
      display: flex;
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 10px 20px;
      background-color: #F9F9F9;
  
      @each $status, $color in $statuses {
        .#{$status} {
          margin: 0 5px;
          
          label {
            color: #7D7F7F;
            font-weight: 600;
          }
  
          > div > button {
            width: 70px;
            background: $color;
            &:hover {
              cursor: inherit;
            }
            > div {
              color: $color;
            }
          }
        }
      }
    }
  }
}